
.gallery_item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    text-align: center;
    padding: 2.5rem 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: underline;
    text-decoration-color: #e7dac2;
    font-size: 2.4rem;
    font-family: sans-serif;
}




.galleryhex{
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 133px);
    grid-auto-rows:200px;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 200px;
    
   /* border-width: 1px;
    border-style: solid;
    border-color: rgb(154, 141, 66);*/
}
.gallery_item{
    clip-path: circle(50% at 50%);
    /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
    grid-column:span 2; /*266px + 17px = 283px*/
    height: 283px;
    transition: 0.5s filter;
    
}

.gallery_item:hover{
    filter: brightness(0.4);
}
.gallery_item:first-of-type{
    grid-column: 2/ span 2;
}

#gallerycircle {
    background-color: #edd4c6 ;
    background-size: 300px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
}

@media screen and (min-width:270px) and (max-width: 504px){
    .gallery_item:first-of-type{
        grid-column: 1/ span 2;
    }
    .gallery{
        grid-auto-rows: 283px;
    }
}
@media screen and (min-width:412px) and (max-width: 915px){
    .gallery_item:first-of-type{
        grid-column: 2/ span 2;
    }
    .gallery{
        grid-auto-rows: 300px;
    }
}

@media screen and (min-width:428px) and (max-width: 926px){
    .gallery_item:nth-of-type(odd){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:505px) and (max-width: 520px){
    .gallery_item:nth-of-type(odd){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:505px) and (max-width: 685px){
    .gallery_item:nth-of-type(odd){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:686px) and (max-width: 700px){
    .gallery_item:nth-of-type(3n + 1){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:686px) and (max-width: 862px){
    .gallery_item:nth-of-type(3n + 1){
        grid-column: 2/span 2;
    }
}
@media screen and (min-width:663px) and (max-width: 880px){
    .gallery_item:nth-of-type(4n + 1){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:1039px) and (max-width: 1090px){
    .gallery_item:nth-of-type(5n + 1){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:1216px) and (max-width: 1290px){
    .gallery_item:nth-of-type(6n + 1){
        grid-column: 2/span 2;
    }
}

@media screen and (min-width:1392px) {
    .gallery_item:nth-of-type(7n + 1){
        grid-column: 2/span 2;
    }
}